[mysqld]
max_allowed_packet=16M
log_bin_trust_function_creators=1
lower_case_table_names=1
secure-file-priv="/var/lib/mysql-files/"
log-bin=mysql-bin
server-id=10
default_authentication_plugin=mysql_native_password